NUXT_DEV_SERVER=false
NUXT_OAUTH_GITHUB_CLIENT_ID=
NUXT_OAUTH_GITHUB_CLIENT_SECRET=
NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=
NUXT_OAUTH_INSTAGRAM_CLIENT_ID=
NUXT_OAUTH_INSTAGRAM_CLIENT_SECRET=
NUXT_SESSION_PASSWORD=
NUXT_STRIPE_SECRET_KEY=
NUXT_STRIPE_WEBHOOK_SECRET=
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
ADMIN_USER_IDS=
NUXT_TIER_LIMIT_FREE=200
NUXT_TIER_LIMIT_PREMIUM=500
NUXT_TIER_LIMIT_ENTERPRISE=10000